* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;	
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.02em;
	font-weight: 400;
	margin-top: 18px;
	margin-bottom: 18px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 24px;
}

section {
	position: relative;
}

.top_navigation {
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.content {
	padding: 0px 15px;
	width: 935px;
	height: 70px;
	margin: 0 auto;	
	position: relative;
	top: 50%;
}

.content {
	margin: 0 auto;
}

.links {
	margin-top: 25px;
	font-size: 16px;
	/*float: right;*/
}

.links li {
	display: inline-block;
}

.links li > a {
	text-decoration: none;
	color: #838994; 
	padding: 24.5px 15px;
}

.active a {
    color: #333333 !important;
    font-weight: 600;
}

.top_navigation .links .active li > a {
	text-decoration: none;
	color: #333333;
    font-weight: inherit; 
	padding: 24.5px 15px;
}

.top_navigation .links li > a:hover {
	color: #333333;
}

.links .active li > a:hover {
	color: #838994;
}

.section_introduction {
	background: url("../img/background.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 608px;	
}

.section_introduction h1,
.section_introduction h3 {
	color: #FFFFFF;
	box-shadow:  0, 1px, 2px rgba(0, 0, 0, 0.1);
}

.section_introduction .introduction {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	top: 30%;
	text-align: center;
}

a {
	text-decoration: none;

}

.introduction > p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
}

.btn-lg {
	padding: 16px 26px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 4px;
}

.btn-primary {
	color: #FFFFFF;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
}

.btn-primary:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
}

.btn-link {
	color: #FFFFFF;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-link:hover {
	opacity: 0.8;
	background: transparent;
	border: transparent;
	text-decoration: none;
}

.video-controls {
	color: #eaebec;
}

img {
	vertical-align: middle;
}

.icon {
	margin: 0 auto
}

.icon-sm {
	max-height: 35px;
	max-width: 35px;
}

.learn_more {
	opacity: 1;
	bottom: 0;
	height: 120px;
	left: 50%;
	margin-left: -30px;
	overflow: hidden;
	padding-top: 0;
	position: absolute;
	width: 60px;
	z-index: 999;
}

.learn_more .arrow_down {
	transition: 300ms ease-out;
	-webkit-transition: 300ms ease-out;
	-moz-transition: 300ms ease-out;
	-o-transition: 300ms ease-out;
	animation: exploreBounce 0.85s ease-in-out infinite alternate;
	-webkit-animation: exploreBounce 0.85s ease-in-out infinite alternate;
	-moz-animation: exploreBounce 0.85s ease-in-out infinite alternate;
	-o-animation: exploreBounce 0.85s ease-in-out infinite alternate; 
}

@keyframes exploreBounce {
	to { padding-top: 30px; }
}

@-webkit-keyframes exploreBounce {
	to { padding-top: 30px; }
}

@-moz-keyframes exploreBounce {
	to { padding-top: 30px; }
}

@-o-keyframes exploreBounce {
	to { padding-top: 30px; }
}

.container {
	width: 935px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin-top: 18px;
	margin-bottom: 18px;
}

.wrapper {
	padding: 126px 0;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.cases {
	height: 608px;
}

.devices {
	width: 33.3333333%;
    display: inline-block;
    height: 4em;
    margin: 40px 0;
    float: left;
}

.icon-lg {
	max-height: 127px;
	max-width: 127px;
}

.go_karma {
	background: url("../img/buy-now-bg.jpg") bottom  center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 730px;
}

.left_block {
	width: 27%;
	float: left;
	text-align: left;
}

.left_block h3 {
	color: #f15a29;
}

.left_block .lead {
	padding-bottom: 25px;
	font-size: 15px;
}

.lead {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.538461538;
}

.social {
	list-style: none;
	position: relative;
}

.business {
	width: inherit;
	height: inherit;
	padding-top: 50px;
	padding-bottom: 150px;
	position: relative;
}

.bbb {
	width: 25%;
	float: left;
}

.lists {
	width: 42%;
	float: left;
}

.list_container {
	width: 33%;
	padding-left: 15px;
	padding-right: 15px;
	float: left;	
}

.sub_list {
	list-style: none;
	display: block;
	padding-left: 0;
}

.sub_list  li {
	text-align: left;
	display: list-item;
	list-style: none;
	margin-left: inherit;
	margin-right: inherit;
	padding-left: 0;
}

.subheader {
	font-weight: 500;
	padding-bottom: 10px;
}

.subitem {
	padding-bottom: 8px;
	display: list-item;
}

.subitem a {
	color: #838994;
	text-decoration: none;
}

.subitem a:hover {
	color: #f15a29;
	text-decoration: none;
}

.news {
	width: 33%;
	float: left;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}

.input {
	width: 100%;
	height: auto;
	position: relative;
	display: inline-flex;
	z-index: 2;
	float: left;
	margin-bottom: 0;
}


.form_input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-bottom: 6px;
	padding-top: 23px;
	padding-left: 10px;
	border-color: #CACCD1;
	font-size: 18px;
	letter-spacing: -0.02em;
	display: inline;
	border-style: solid;
	border-width: thin;
}

.form_input:focus {
	outline: none;
	border-color: #838994;
}

.in {
	font-size: 12px;
	font-weight: 500;
	padding-right: 12px;
	color: #838994;
	position: absolute;
	z-index: 1000;
	left: 13px;
	top: 7px;
	max-width: 100%;
	margin-bottom: 5px;
}

.form_input:focus + .in {
	color: #f15a29;
}

.in:after {
	font-size: 15px;
	font-weight: 400;
	color: #F14A29;
	position: absolute;
	right: 0;
	top: 0;
	content: "*";
	line-height: 0.75;
}

.input-group-addon {
	position: relative;
	float: left;
	padding: 0;
}

.input-group-addon:last-child {
	border-left: 0;
}

.fa-arrow-right:before {
	content: "\f061";
}

.form-btn {
	padding: 17px 20px 16px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 4px;
	border-color: #CACCD1;
	border-width: thin;
	background-color: transparent;
	color: #f15a29;
	font-weight: normal;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.form-btn:hover {
	color: #cf3d0e;
	border-color: #838994;
}

hr {
	margin-top: 21px;
	margin-bottom: 21px;
	border: 0;
	border-top: 1px solid #eaebec;
}

.icons {
	margin-bottom: 15px;
	text-align: center;
}

.icons > li {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
}

footer .icons {
	margin-bottom: 15px;
}

footer li {
	font-size: 14px;
}

.header {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-weight: 600;
}

.inline {
	display: inline-block;
	width: 52px;
	height: 44px;
}

.inline > a {
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-radius: 21px;
	border: 1px solid #eaebec;
	padding: 10px;
}

.inline > a:hover {
	border: 1px solid #838994;
}

.inline a i {
	width: 22px;
	height: 20px;
}

.twitter {
	color: #55acee;
}

.facebook {
	color: #4c66a4;
}

.instagram {
	color: #3f729b;
}

footer p {
	text-align: center;
	font-size: 14px;
}